crash-reports/
logs/
saves/
screenshots/
server-resource-packs/
options.txt
usercache.json
usernamecache.json
journeymap/
mods/
.ReAuth.cfg
*.log
backups/
astralsorcery/gatewayScreenshots/
eula.txt
world/

